.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 5rem;
}

.details {
  width: 28rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(178, 163, 163, 0.3);
  background-color: #ffffff;
}

.details form {
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  margin-bottom: 1.5rem;
}
